<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <img src="data:image/png;base64,{{ imagedata }}"/>

   <div class="panel panel-default">

  <div class="panel-heading">本月获得佣金</div>
  	<div class="panel-body">
 	 </div>

  <!-- Table -->
 <table class="table table-hover">
  <thead>
    <tr>
        <th>销售员</th>
      <th>佣金状态</th>
      <th>数额</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
</body>
</html>